body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "norse-bold";
    src:
      url("./Norse-Bold.otf") format("opentype");
  }

#main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

p {
    margin: 0;
    font-family: sans-serif;
}

#logo-container {
    width: 800px;
    height: 300px;
    margin-top: 30%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

#logo-background-div {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
}

#content-container {
    width: 100%;
}

#logo-content-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#hero-image {
    position: absolute;
    height: 100vh;
    width: 800px;
    top: 0;
    left: 0;
    z-index: -1;
}

#logo-text {
    font-family: "norse-bold";
    font-size: 200px;
    color: white;
    margin: 0;
    margin-top: 55px;
}

#logo-image {
    height: 175px;
    margin: 15px;
}

#image-footer-container {
    color: white;
    text-decoration: inherit;
    position: absolute;
    width: 800px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px 0px;
}

#image-footer-container a:visited, #image-footer-container a:link {
    color: white;
}

#text-container {
    box-sizing: border-box;
    height: 33.3%;
    background-color: rgb(248, 244, 240);
    margin: 0;
    width: 100%;
}

#text-content-div {
    box-sizing: border-box;
    position: relative;
    margin-left: 75px;
    top: 35%;
    width: 70%;
}

#text-content-div p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(47, 26, 0);
}

#text-content-div p:first-child {
    padding-bottom: 25px;
}

#form-container {
    position: relative;
    top: 5%;
    box-sizing: border-box;
    height: 33.3%;
    margin-left: 75px;
    width: 70%;
    /* box-shadow: 0px 3px 5px black; */
}

#form-container p {
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(47, 26, 0);
}

.form-row {
    display: flex;
    flex-direction: row;
    width: 70%;
}

li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

li:nth-child(odd) {
    margin-left: 0;
}

#button-container {
    height: 33.3%;
    background-color: rgb(248, 244, 240);
}


#button-content-container {
    box-sizing: border-box;
    position: relative;
    top: 10%;
    margin-left: 75px;
}

#button-content-container button {
    width: 250px;
    height: 80px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgb(194, 94, 0);
    color: rgb(255, 238, 226);
    font-weight: 100;
    margin-bottom: 10px;
    border: none;
}

#button-content-container p {
    margin-top:   25px;
    margin-left: 5px;
    font-size: 25px;
}

ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

input {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    font-size: 25px;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding-left: 10px;
}

input:focus {
    border: 2px solid rgba(44, 44, 252, 0.718);
    box-shadow: 1px 1px 3px 0px gray;
    outline: none;
}

label {
    font-family: sans-serif;
    color: rgb(47, 26, 0);
    font-weight: 600;
    font-size: 15px;
}

#svg-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}

svg {
    height: 75px;
    width: 75px;
}

#svg-link p {
    font-family: "norse-bold";
    transform: scaleX(0.75);
    margin-inline: -40px;
    margin-top: 10px;
    color: rgb(27, 0, 18);
}